PySide6-Essentials>=6.9,<7
shiboken6>=6.9,<7
pynput>=1.7
pyautogui>=0.9.54 ; platform_system == "Windows"

pyobjc-core>=11.0 ; platform_system == "Darwin"
pyobjc-framework-Cocoa>=11.0 ; platform_system == "Darwin"
pyobjc-framework-Quartz>=11.0 ; platform_system == "Darwin"

pyinstaller>=6